* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: rgb(219 82 77);
  color: white;
  font-family: cursive;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.app__content {
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.2);
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
}

.app__content h1 {
  font-size: 150px;
}


